.button {
    background: #0077ff;
    padding: 10px 20px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    margin: 10px auto;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.button:hover {
    background: #014694;
}

.arrow {
    margin-left: 10px;
}